:root{
    --color-slidebar:rgb(28, 61, 90);    
    --color-main:rgb(244, 247, 250);
    --color-texto:rgba(49, 47, 47, 0.836);

}
/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto",sans-serif ;
    color: var(--color-texto);
}

/* slidebar */
.slidebar{
    position: fixed;
    background: var(--color-slidebar);
    color: white;
    top:0;
    left:0 ;
    Border-radius: 10px;
    width: 250px;
    height: 100vh;
    display: block;
    overflow-y: auto;
    padding: 20px;
    transition: transform 0.3s ease;
}
.slidebar h2{
    text-align: center;
    border-bottom: 1px solid gray;
    padding-bottom: 30px;
    margin-bottom: 10px;
}
/* elementos slidebar */
.element-slidebar{
    display: block;
    margin-bottom: 10px;
    color: rgb(233, 224, 224);
    padding: 10px;
    transition: color o.3s ease,font-size 0.3s ease;
}
.element-slidebar-btn{
    display: flex;
    width: 100%;
    align-items: center;
    cursor: pointer;
}
.element-slidebar img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.element-slidebar-content p{
    
    margin: 20px;
    font-size: 20px;
}

.element-slidebar-content a{
    display: block;
    text-decoration: none;
    color: aliceblue;
    margin: 20px;
    font-size: 16px;
}

.profile img{   
    border-radius: 50%;
    width: 40px;
    height: 40px;

}
.element-slidebar-content{
    display: none;
}
.element-slidebar:hover{
    color: white;
   
   
}
/* desplegar items de elemento del slidevar */
.element-slidebar.active .element-slidebar-content{
    display: block;
    border-bottom: 1px solid rgb(179, 176, 176);
}
/* main */
.main{
    margin-left: 250px;
    background-color: var(--color-main);   
    height: 100vh;
}
.container-tabla{
    overflow-y: scroll;
}
/* header */
.header{
    border-bottom:2px solid white ;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 20px;
}
.menu-hamburger{
    display: none;
    border: none;
    font-size: 30px;
    color: black;
}
/* contenedor formulario */
.container-formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}
/* cards */

.container-cards{
    display: grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap:10px;
    margin: 20px;
    padding-bottom: 10px;

}

.card{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.cabecera{
    display: flex;
    text-align: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(168, 167, 167);
    height: 80%;
    margin-bottom: 10px;
}
.cabecera img{
    width: 50px;
    height: 50px;
}

.container-graficas{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(380px,1fr));
    gap:10px;
    margin: 20px;
    height: 380px;
}

@media(max-width:767px){
    .main{
        margin: 0;
    }
    .slidebar{
        transform: translateX(-100%);
    }
    .menu-hamburger{
        display: block;
    }
    .slidebar.hidden{
        transform:translateX(0) ;
    }
}